<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="sorteo/0">Sorteos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="sorteo/0" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa-solid fa-user"></i>Sorteo Simple</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="sorteo/1" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa-solid fa-user-group"></i>Formar Parejas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="history" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa-solid fa-book"></i>Mis Sorteos</a>
                </li>

            </ul>
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link" routerLink="login" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa-solid fa-right-to-bracket"></i>Iniciar Sesion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>