<div class="container-bg">
  <div class="container">
      <form #formSorteo class="form-sorteo">
          <div class="title-form">Torneo</div>

          <div class="container-participantes" *ngIf="!isSorteado">
            <div *ngFor="let input of userInput; let i=index" class="participante participante{{i}}">
              <input #inputRef type="text" [(ngModel)]="teams[i]" name="input{{i}}" class="form-input input{{i}}" placeholder="Participante" autocomplete="off">
              <div [hidden]="btnRemoveIsHidden" class="button button-remove" (click)="borrar(i)"><i class="fa-solid fa-trash-can"></i></div>
            </div>
          </div>

          <div class="container-tournament" *ngIf="isSorteado">
            <div class="round" *ngFor="let round of rounds; let i=index">
              <!-- Ronda {{i+1}} -->
              <div class="match" *ngFor="let match of round; let j=index">
                <!-- <span class="idMatch">R{{j+1}}</span> -->
                <div class="teamContainer">
                  <span class="team" *ngFor="let team of match">{{team}}</span>                  
                </div>
              </div>
            </div>
          </div>

          <div class="container-buttons" >
            <button class="button button-add" (click)="addParticipante()"><i class="fa-solid fa-plus"></i></button>
            <button class="button button-sortear" (click)="sortear()">Sortear</button>
            <button class="button button-reset" (click)="resetForm(formSorteo)" hidden>Volver a sortear</button>
          </div>
      </form>
  </div>
</div>