<div class="container-bg">
    <div class="container">

        <div class="card" style="width: 18rem;">
            <!-- <img src="" class="card-img-top" alt=""> -->
            <div class="card-icon"><i class="fa-solid fa-user"></i></div>
            <div class="card-body">
              <h5 class="card-title">Sorteo Simple</h5>
              <p class="card-text">Realiza una seleccion al azar entre los participantes ingresados. Puede ingresar libremente la cantidad de participantes que necesite y elegir la cantidad de ganadores deseados.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-icon"><i class="fa-solid fa-shield-halved"></i></div>
            <div class="card-body">
              <h5 class="card-title">Formar Equipos</h5>
              <p class="card-text">Realiza una distribucion al azar de los participantes ingresados para formar equipos. Puede establecer la cantidad de equipos e integrantes.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-icon"><i class="fa-solid fa-trophy"></i></div>
            <div class="card-body">
              <h5 class="card-title">Torneo</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-icon"><i class="fa-solid fa-book"></i></div>
            <div class="card-body">
              <h5 class="card-title">Mis Sorteos</h5>
              <p class="card-text">Acceda a su historial de sorteos generados</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>


    </div>
</div>