

.container-btnRemove{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container-podio {
    width: 100%;
    animation: fadeIn 1s;
}

.podio {
    display: grid;
    grid-template-columns: 40px 1fr 80px;
    gap: 1em;
    justify-items: start;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid;
}

.podio:last-child{
    border-bottom: none;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
}

.podio img {
    position: relative;
    margin: auto;
}

.podio span {
    font-size: 2em;
    font-weight: bold;
    text-transform: capitalize;
}

.position {
    margin-top: 10px;
    font-family: 'Contrail One', cursive;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes widthFull {
    0% {
        width: 300px;
    }

    100% {
        width: 335px;
    }
}