<div class="container-bg">
    <div class="container container-form">
        <form #formSorteo class="form-sorteo">
            <div class="title-form">Sorteo</div>

            <div class="container-podio" *ngIf="isSorteado;">
                <div *ngFor="let win of resultadoSorteo; let i=index" class="podio">
                    <span class="position">{{i+1}}°</span>
                    <span class="win1">{{resultadoSorteo[i]}}</span>
                    <!-- <img src="./trophy/1.svg" alt="Primero" style="width: 80px;"> -->
                </div>
            </div>

            <div class="container-participantes" *ngIf="!isSorteado" >
                <div class="sorteo-control" *ngIf="isMakeTeam">
                    <div class="control">
                        <span>Cantidad de equipos:</span>
                        <select [(ngModel)]="teamSelected" name="teamSelected" (change)="inputs()">
                            <option *ngFor="let equipo of equipos" [value]="equipo">{{equipo}}</option>
                        </select>
                    </div>
                    <div class="control">
                        <span>Participantes por equipo:</span>
                        <select [(ngModel)]="pxeSelected" name="pxeSelected" (change)="inputs()">
                            <option *ngFor="let participantes of pxe" [value]="participantes">{{participantes}}</option>
                        </select>
                    </div>
                </div>
                <div *ngFor="let input of inputArray; let i=index" class="participante participante{{i}}">
                    <input type="text" [(ngModel)]="valorInput[i]" name="input{{i}}" class="form-input input{{i}}" placeholder="Participante" autocomplete="off">
                    <div [hidden]="btnRemoveIsHidden" class="button button-remove" (click)="borrar(i)"><i class="fa-solid fa-trash-can"></i></div>
                </div>
            </div>

            <div class="container-buttons" >
                <button [hidden]="isSorteado" class="button button-add" (click)="addParticipante()"><i class="fa-solid fa-plus"></i></button>
                <button [hidden]="isSorteado" class="button button-sortear" (click)="sortear()">Sortear</button>
                <button [hidden]="!isSorteado" class="button button-sortear" (click)="resetForm(formSorteo)">Volver a sortear</button>
            </div>
        </form>

        <div class="toast-container position-fixed top-0 end-0 p-3">
            <div id="liveToast" class="toast bg-secondary text-light" role="alert" aria-live="assertive"
                aria-atomic="true">
                <div class="toast-header bg-warning">
                    <strong class="me-auto">Advertencia</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">Hay participantes sin completar.</div>
            </div>
        </div>
    </div>
</div>