/* You can add global styles to this file, and also import other style files */
:root {
    --background1: #1f1f1f;
    --background2: #101417;
    --text: #d8f3dc;
    --color1: #95d5b2;
    --color2: #74c69d;
    --color3: #52b788;
    --color4: #40916c;
    --color5: #2d6a4f;
    --color6: #1b4332;    
    --color7: #081c15;

    --Fondo-oscuro: #222831;
    --Fondo-claro: #f2f2f2;
    --Botón-primario: #00adb5;
    --Botón-secundario: #393e46;
    --Texto-principal: #eeeeee;
    --Texto-secundario: #777777;

    --background2: #0d1b2a;
    --background2: #101417;
    --background1: #1b263b;
    --text: #e0e1dd;
    --color1: #476c9b;
    --color2: #778da9;

    --color3: #52b788;
    --color4: #40916c;
    --color5: #2d6a4f;
    --color6: #1b4332;    
    --color7: #081c15;

}

.container-bg {
    background-color: var(--background2);
    width: 100%;
    height: 100%;
}

.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-sorteo {
    background-color: var(--background1);
    color: var(--text);
    padding: 1em;
    border-radius: 20px;
    /* position: absolute; */
    animation: fadeIn .5s;
    margin: 4em;
    animation: cardIn .3s ease-in-out;
}

.title-form{
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    /* position: absolute; */
    /* top: .5em; */
    margin-bottom: .5em;
}

.container-participantes {
    display: flex;
    flex-direction: column;
}

.participante{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    justify-content: space-between;
}

.form-input {
    padding: .5em;
    background-color: #2f3e5b;
    border: 2px solid #2f3e5b;
    border-radius: 16px;
    color: var(--text);
    animation: fadeIn .5s ease-in-out;
    transition: .5s;
}

.form-input:focus-visible {
    outline: none;
    border: 2px solid var(--color3);
    background-color: var(--background1);
    transition: .5s;

}

/* buttons */
.container-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    color: var(--text);
}

.button-remove, .button-add{
    border-radius: 50%;
}

.button-remove{
    width: 25px;
    height: 25px;
    animation: fadeIn 1s;
    color: #808080;
    /* background: var(--color3); */
}

.button-add {
    width: 40px;
    height: 40px;
    background-color: var(--color4);
    position: absolute;
    left: 0;
}

.button-sortear, .button-reset {
    background-color: var(--color1);
    border-radius: 16px;
    padding: .5em 1em;
    user-select: none;
}

@keyframes cardIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}